// Footer style
footer {
  @include display-flex;
  position: relative;
  top: 55vh;
  h5 {
    font-family: $kara-font;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: $white;
  }
}
